/**resizing the logo to fit navbar**/
.logo{
    height: 50px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
}/*Logo modifications to fit the navbar*/


.claM{

    margin-top: 170px;

}/*custom class that adds margin top*/

.claP{

    padding-left: 80px;

}/*adds padding from left top*/
    


body{
    
    background-image:url('../images/img.jpg');
    background-repeat:no-repeat;
    background-position:cover;
}/*background modifications*/

#sform{
    width: 600px;
    margin-left: 350px;
}/*width of the signup form*/

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    padding-top:px;
}/*footer*/

.CC{
    padding-bottom: 250px;
}